#hero_form .form-row {
  box-sizing: border-box;
}

#hero_form .form-row *,
#hero_form .form-row ::before,
#hero_form .form-row ::after {
  box-sizing: inherit;
}

#hero_form .form-row.field-image {
  display: flex;
  flex-wrap: wrap;
}

#hero_form .form-row.field-image > div:not(.fieldBox) {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  max-width: 100%;
}

#hero_form .form-row.field-image .fieldBox {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  max-width: 100%;
  width: auto;
  margin: 0;
  float: none;
  border: 0;
}

@media (max-width: 639px) {
  #hero_form .form-row.field-image .fieldBox {
    padding-left: 0;
  }
}

@media (min-width: 640px) {
  #hero_form .form-row.field-image .fieldBox {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 0.2rem;
  }
  #hero_form .form-row.field-image .fieldBox:first-child {
    padding-left: 0;
  }
  #hero_form .form-row.field-image .fieldBox:last-child {
    padding-right: 0;
  }
  #hero_form .form-row.field-image .fieldBox select {
    max-width: 99% !important;
  }
}

#hero_form .form-row.field-image .fieldBox .help {
  padding-left: 0;
  margin-left: 0;
}
