{% load smart_image %}{% spaceless %}
    {% with features=instance.flat_features %}
    <div class="card{% if features %} {{ features }}{% endif %}">
        {% if instance.image %}
            {% media_thumb instance.image "250x200" as thumb %}
            <img src="{{ thumb.url }}" class="card-img-top" alt="{{ instance.image_alt }}">
        {% endif %}

        <div class="card-body">
            {% if instance.title %}
                <h5 class="card-title">{{ instance.title }}</h5>
            {% endif %}

            {% if instance.content %}
                <p class="card-text">{{ instance.content|striptags|truncatechars:100 }}</p>
            {% endif %}

            {% if instance.link_url %}
                <a href="#" class="btn btn-primary"{% if instance.link_open_blank %} target="_blank"{% endif %}>
                    {% if instance.link_name %}{{ instance.link_name }}{% else %}Go somewhere{% endif %}
                </a>
            {% endif %}
        </div>
    </div>
    {% endwith %}
{% endspaceless %}
