{% load thumbnail %}{% spaceless %}
<div class="block album">
    <div class="flex-grid">
        {% for item in ressources %}
        <div class="cell large-25">
            <p><a href="{{ item.image.url }}" target="blank">
            {% thumbnail item.image "200x100" as im %}
                <img src="{{ im.url }}" alt="">
            {% endthumbnail %}
            </a></p>
            <p>
                {{ item.title }}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endspaceless %}
