{% load smart_format %}{% spaceless %}
<div class="album">
    <p class="album__title">{{ instance.title }}</p>

    <div class="album__items">
        {% for item in ressources %}
            {% media_thumb item.image "250x200" as thumb %}
            <div class="album__item">
                <a href="{{ item.image.url }}" target="blank">
                    <img src="{{ thumb.url }}" alt="">
                </a>
                {% if item.title %}
                <p class="album__item-title">
                    {{ item.title }}
                </p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endspaceless %}
