{% load smart_image %}{% spaceless %}
    {% with features=instance.get_features %}
        <div class="album mb-4{% if features %} {{ features }}{% endif %}">
            <h2 class="album__title border-bottom border-3 text-center mb-3">{{ instance.title }}</h2>

            <div class="album__items row row-cols-4">
                {% for item in ressources %}
                    {% media_thumb item.image "250x200" as thumb %}
                    <div class="album__item">
                        <a href="{{ item.image.url }}" target="blank">
                            <img src="{{ thumb.url }}" class="img-thumbnail" alt="{{ item.image_alt }}">
                        </a>
                        {% if item.title %}
                        <p class="album__item-title">
                            {{ item.title }}
                        </p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endwith %}
{% endspaceless %}
