{% load smart_image %}{% spaceless %}
    {% with features=instance.get_features %}
        {% if instance.link_url %}
            <a href="{{ instance.link_url }}"
            class="card{% if features %} {{ features }}{% endif %}"
            {% if instance.link_open_blank %} target="_blank"{% endif %}>
        {% else %}
            <div class="card{% if features %} {{ features }}{% endif %}">
        {% endif %}

            {% if instance.title %}
                <div class="card__title">{{ instance.title }}</div>
            {% endif %}

            {% if instance.image %}
                <div class="card__media">
                    {% media_thumb instance.image "250x200" as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ instance.image_alt }}">
                </div>
            {% endif %}

            {% if instance.content %}
                <div class="card__content">{{ instance.content|safe }}</div>
            {% endif %}

        {% if instance.link_url %}
            </a>
        {% else %}
            </div>
        {% endif %}
    {% endwith %}
{% endspaceless %}
