{% load i18n sorl_thumbnail %}{% spaceless %}
<div class="block slider">
    <p class="slider__title">{{ instance.title }}</p>

    <div class="slider__items">
        {% for item in slides %}
            {% thumbnail item.image "1200x400" as im %}
            <div class="slider__item" style="background-image: url({{ im.url }})">
                <p class="slider__item-title">{{ item.title }}</p>
                {% if item.content %}<div class="slider__item-content">{{ item.content|safe }}</div>{% endif %}

                {% if item.link_url %}
                <p class="slider__item-link">
                    <a href="{{ item.link_url }}" class="button"{% if item.link_open_blank %} target="blank"{% endif %}>
                        {% if item.link_name %}{{ item.link_name }}{% else %}{% trans "Read more" %}{% endif %}
                    </a>
                </p>
                {% endif %}
            </div>
            {% endthumbnail %}
        {% endfor %}
    </div>
</div>
{% endspaceless %}
